@charset "utf-8";

/* CSS Document */
* {padding: 0;margin: 0;}
body {margin: 0px;padding: 0px;color: #666;font-family:"微软雅黑", Arial, Helvetica, sans-serif;font-size:14px;background:#fff;text-align:left;position:relative; line-height:20px;overflow-x: hidden;}
img {border: 0;position:relative;}
.clear {height:0px;line-height: 0px;font-size: 0px;clear: both;visibility: hidden;overflow:hidden;padding:0;margin:0;}
div,ul,dl,dd,dt,li,td,tr,table,p,span,h1,h2,h3,h4,h5,h6,form{ margin:0px;  padding:0px; list-style:none; list-style-type: none; word-wrap:break-word;position:relative; border:none;}
a {color:#222222;text-decoration: none;position:relative;cursor:pointer;}
a:hover {color:#e8323d;}
header, footer, nav, section, article, menu, aside {  display:block;position:relative;  } 
textarea { resize:none;font-family:"微软雅黑";font-size:14px;}
table { border-collapse:collapse;border-spacing:0;}
th , td { text-align:left;}
input {font-family:"微软雅黑";font-size:14px;}
input.text { border:none;width:100%;background:none;}
input.sub { border:none;width:100%;background:none;cursor:pointer;}
input:focus {outline:none;}
/* common main */
.red, a.red { color:#e8323d;}
.white, a.white { color:#fff;}
a.white:hover { color:#ff7d43;}
.fc { color:#222222;}
.sc { color:#ff6300;}
.rd3 { color:#2570bb;}
.green { color:#4fbaa1;}
.blue { color:#e8323d;}
.c3 { color:#333;}
.c5 { color:#555;}
.c7 { color:#777;}
.c9 { color:#999;}
.border { border:1px solid #ddd;}
.border-e { border:1px solid #eee;}
.border-df { border:1px solid #FFF;}
.fs12 { font-size:12px;}
.fs14 { font-size:14px;}
.fs16 { font-size:16px;}
.fs18 { font-size:18px;}
.fs20 { font-size:20px;}
.fs22 { font-size:22px;}
.fs24 { font-size:24px;}
.fs26 { font-size:26px;}
.fs28 { font-size:28px;}
.fs30 { font-size:30px;}
.fw-b { font-weight:bold;}
.fw400 { font-weight:400;}
.ti2 { text-indent:2em;}
.lh18 { line-height:18px;}
.lh20 { line-height:20px;}
.lh25 { line-height:25px;}
.lh30 { line-height:30px;}
.lh35 { line-height:35px;}
.lh40 { line-height:40px;}
.unl { text-decoration:underline;}
.unl-th {text-decoration:line-through;}
.unl-no { text-decoration:none;}
.ta-l { text-align:left;}
.ta-c { text-align:center;}
.ta-r { text-align:right;}
.fl { float:left;}
.fr { float:right;}
.va-m { vertical-align:middle;}
.va-t { vertical-align:top;}
.pr { position:relative;}
.pa { position:absolute;}
.oh { overflow:hidden;}
.none { display:none;}
.block { display:block;}
.inblock { display:inline-block;}
.pointer { cursor:pointer;}
.w100 { width:100%;}
.w101{width:101px;}
.w84{width:84px;}
.w980 { width:980px;}
.w400 { width:400px;}
.w130 { width:130px;}
.w1000 { width:1000px;}
.h100 { height:100%;}
.h5 {height:5px;}
.h10 {height:10px;}
.h15 {height:15px;}
.h20 {height:20px;}
.h30 {height:30px;}
.h40 {height:40px;}
.h50 {height:50px;}
.h60 {height:60px;}
.h70 {height:70px;}
.z-in10 { z-index:10;}
.ma2 { margin:2px;}
.ma5 { margin:5px;}
.ma10 { margin:10px;}
.ma15 { margin:15px;}
.ma20 { margin:20px;}
.pa2 { padding:2px;}
.pa5 { padding:5px;}
.pa10 { padding:10px;}
.pa15 { padding:15px;}
.pa20 { padding:20px;}
.ml5 { margin-left:5px;}
.ml10 { margin-left:10px;}
.ml15 { margin-left:15px;}
.ml20 { margin-left:20px;}
.ml100 { margin-left:100px;}
.mr5 { margin-right:5px;}
.mr10 { margin-right:10px;}
.mr15 { margin-right:15px;}
.mr20 { margin-right:20px;}
.mt5 { margin-top:5px;}
.mt10 { margin-top:10px;}
.mt15 { margin-top:15px;}
.mt20 { margin-top:20px;}
.mb5 { margin-bottom:5px;}
.mb10 { margin-bottom:10px;}
.mb15 { margin-bottom:15px;}
.mb20 { margin-bottom:20px;}
.pl5 { padding-left:5px;}
.pl10 { padding-left:10px;}
.pl15 { padding-left:15px;}
.pl20 { padding-left:20px;}
.pr5 { padding-right:5px;}
.pr10 { padding-right:10px;}
.pr15 { padding-right:15px;}
.pr20 { padding-right:20px;}
.pt2 { padding-top:2px;}
.pt5 { padding-top:5px;}
.pt10 { padding-top:10px;}
.pt15 { padding-top:15px;}
.pt20 { padding-top:20px;}
.pb5 { padding-bottom:5px;}
.pb10 { padding-bottom:10px;}
.pb15 { padding-bottom:15px;}
.pb20 { padding-bottom:20px;}
.mga { margin-left:auto;margin-right:auto;}
.clear5 { width:100%;clear:both;height:5px;}
.clear10 { width:100%;clear:both;height:10px;}
.clear15 { width:100%;clear:both;height:15px;}
.clear20 { width:100%;clear:both;height:20px;}
.clear25 { width:100%;clear:both;height:25px;}
.clear30 { width:100%;clear:both;height:30px;}
.clear35 { width:100%;clear:both;height:35px;}
.main {width:1200px; margin:0 auto;}
.absolute-r { position:absolute;right:0;top:0;}
.absolute-l { position:absolute;left:0;top:0;}
/* 通用顶部 */
.maintop {
	z-index:20;
	width:100%;
	min-width:1200px;
	background:#f7f7f7;
	border-bottom:1px solid #eee;
	height:35px;}
.maintop h1,.maintop p {
	font-weight:400;
	font-size:14px;
	color:#666;
	line-height:35px;
	display:inline-block;
	_display:inline;}
.maintop h1 {
	float:left;
	padding:0 15px;
	background:url(../images/top_ico06.png) no-repeat left center;}
.maintop p.p1 {
	float:left;
	padding-left:15px;
	background:url(../images/top_ico05.png) no-repeat left center;}
.maintop p.p2 {
	color:#e83928;
	float:right;
	font-size:20px;
	}
.maintop p.p3 {
	float:right;
	padding-left:23px;
	margin-left:10px;
	background:url(../images/top_ico04.png) no-repeat left center;}
.maintop a {
	display:inline-block;
	_display:inline;
	float:right;
	line-height:25px;
	margin-top:5px;
	border-right:1px solid #eee;
	padding:0 7px;}
.maintop a.a1 {
	z-index:5;
	padding-left:30px;
	background:url(../images/top_ico03.png) no-repeat 10px center;}
.maintop a.a2 {
	padding-left:30px;
	background:url(../images/top_ico02.png) no-repeat 10px center;}
.maintop a.a3 {
	padding-left:35px;
	background:url(../images/top_ico01.png) no-repeat 10px center;}
.maintop a.a4 {
	z-index:10;
	padding-right:25px;
	}
.maintop a.a4 i {
	display:block;
	width:25px;
	height:25px;
	position:absolute;
	right:0;
	top:0;
	background:url(../images/arrow01.png) no-repeat center center;}
.maintop a.sel i {
	transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);}
.maintop menu {
	float:right;
	width:95px;}
.maintop menu ul {
	display:none;
	width:94px;
	background:#fff;
	padding-top:35px;
	border:1px solid #eee;
	border-bottom:none;
	position:absolute;
	left:-1px;
	top:0;
	}
.shopping_box {
	z-index:20;
	width:143px;
	float:right;
	background:no-repeat #FFF;
	border:solid 1px #eeeeee;
	margin-top:25px;
	height:37px;
	text-align:center;}
.shopping_box a.a1 {
	z-index:5;
	display:block;
	width:110px;
	padding-left:40px;
	height:37px;
	line-height:37px;
	background:#f7f7f7 url(../images/index_14.png) no-repeat 5px center;}
.shopping_box span.sp1 {
	z-index:10;
	position:absolute;
	right:10px;
	top:-13px;
	display:block;
	width:25px;
	height:25px;
	text-align:center;
	color:#fff;
	line-height:25px;
	border-radius:50%;
	background:#e8323d;}
.shopping_box a.a1 i {
	position:absolute;
	right:5px;
	top:13px;
	display:block;
	height:15px;
	width:15px;
	background:url(../images/arrow02.png) no-repeat center center;}
.shopping_box menu {
	display:none;
	box-shadow:1px 2px 3px #999;
	position:absolute;
	top:38px;
	right:-2px;
	background:#fff;
	width:370px;
	border:2px solid #e5e5e5;}
.shopping_sel menu { display:block;}
.shopping_sel {box-shadow:1px 2px 3px #999;}
.shopping_sel a.a1 {background:#fff url(../images/index_14.png) no-repeat 5px center;}
.shopping_sel a.a1 i {
	transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);}
.shopping_box h2 {
	font-size:14px;
	padding-left:20px;
	line-height:35px;}
.shopping_box .tit {
	display:block;
	padding:5px 20px;
	background:#2b3243;
	color:#FFF;
	font-size:12px;
	font-weight:400;}
.shopping_box .tit span {
	display:inline-block;
	padding:0 10px;
	color:#fff;
	background:#e8323d;}
.shopping_list {
	padding:7px 20px;}
.shopping_list:hover { background:#f7f7f7;}
.shopping_list a.a2 {
	border:1px solid #eee;
	display:block;
	width:60px;
	height:60px;
	float:left;}
.shopping_list a.a2 img {
	width:60px;
	height:60px;}
.shopping_list a.a3 {
	margin-left:7px;
	display:block;
	width:150px;
	font-size:12px;
	float:left;}
.shopping_list p {
	float:right;
	text-align:right;
	width:110px;}
.shopping_list p a { display:block; font-size:12px;}
.shopping_price {
	display:block;
	padding:10px 20px;
	background:#f5f5f5;
	font-weight:400;
	font-size:14px;
	padding-right:150px;}
.shopping_price a {
	position:absolute;
	right:15px;
	top:6px;
	display:inline-block;
	color:#fff;
	border-radius:3px;
	padding:0 20px;
	line-height:30px;
	background:#e4393c;}
.shopping_price a:hover { background:#222222;}
.navbox {
	z-index:20;
	margin:0 auto;
	border-bottom:solid 3px #2b3243;
	height:37px;}
.navbox a.a1 {
	float:left;
	display:inline-block;
	_display:inline;
	line-height:37px;
	color:#2b3243;
	font-size:16px;
	padding:0 23px;
	}
.navbox a.a1:hover { color:#ff3535;}
.navlist {
	width:200px;
	float:left;
	background:#2b3243;}
.navlist a.a2 {
	z-index:5;
	display:block;
	width:100%;
	text-indent:55px;
	font-size:16px;
	color:#fff;
	line-height:37px;
	background:#2b3243 url(../images/arrow04.png) no-repeat 170px center;}
.navlistout {
	display:block;
	position:absolute;
	background:#fff;
	padding:20px;
	width:160px;
	height:419px;
	background:#2b3243;
	top:30px;
	}
.navlistout li { width:100%; padding-bottom:14px;}
.navlistout h3 {
	font-size:16px;
	line-height:30px;
	text-indent:35px;
	color:#FFF;
	width:100%;
	margin-bottom:5px;
	display:block;
	}
	.navlistout h3 a{color:#FFF;}
	.navlistout h3 a:hover{color:#e8323d;}
.navlistout .p_box {
	width:100%;
	padding-bottom:6px;
	margin-bottom:5px;
}
.navlistout .p_box a {
	display:inline-block;
	margin-right:5px;
	line-height:20px;
	font-size:12px;}
.nav_showbox {
	display:none;
	position:absolute;
	left:180px;
	top:13px;
	width:700px;
	padding:15px;
	min-height:85px;
/*	border:1px solid #e8323d;
*/	background:#2b3243;
	color:#FFF;}
	.nav_showbox a{color:#FFF;}
	.nav_showbox a:hover{color:#e8323d;}
.nav_showbox .bg {
	display:block;
	position:absolute;
	width:2px;
	height:115px;
	left:-2px;
	top:0;
	background:#fff;}
.nav_right {
	float:right;
	table-layout:fixed;
	width:170px;
	border-collapse:separate;
	border-spacing:2px;}
.nav_right a {
	display:block;
	width:100%;}
.nav_right a img {width:100%;}
.nav_more {
	width:700px;
	float:left;}
.nav_more th {
	vertical-align:top;
	font-size:14px;
	line-height:16px;
	text-align:right;
	padding-right:20px;
	padding-bottom:20px;}
.nav_more th span {
	display:inline-block;
	padding-right:20px;}
.nav_more td {
	vertical-align:top;
	font-size:12px;
	line-height:16px;
	text-align:left;
	padding-bottom:20px;}
.nav_more td a {
	display:inline-block;
	padding:0 10px;
	margin:0 0 7px 0;
	border-left:1px solid #eee;}
.index_center {width:100%;background:#f3f0f2; padding:15px 0; height:80px;}
.index_center table { width:1200px; table-layout:fixed; margin:0 auto; margin-top:20px;}
.index_center a {
display: block;
height: 71px;
font-size: 14px;}
.index_center a img {
float: left;
margin-right: 10px;
top: 0;
}
.index_center a:hover img {
	-webkit-transition: all 0.4s ease-in-out 0.01s;
    -moz-transition: all 0.4s ease-in-out 0.01s;
    -o-transition: all 0.4s ease-in-out 0.01s;
    -ms-transition: all 0.4s ease-in-out 0.01s;
    transition: all 0.4s ease-in-out 0.01s;
	-webkit-transform: rotateY(360deg); 
    -moz-transform: rotateY(360deg); 
    -o-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    transform: rotateY(360deg);}
.bot_help { padding-top:10px; background:#fff;}
.bot_help menu {
	float:left;
	width:130px;
	padding:0 0 0 20px;}
.bot_help menu h3 {
	font-size:16px;
	margin-bottom:10px;}
.bot_help menu a {
	display:block;
	font-size:12px;
	line-height:25px;}
.bot_work {
	float:right;
	width:260px;}
.bot_work p {
	display:block;
	width:210px;
	padding-left:50px;}
.bot_work p img {
	position:absolute;
	left:0;
	top:0;}
.bot_work p a {
	font-size:22px;
	text-decoration:underline;
	line-height:40px;
	color:#999;
	}
.bot_work p a:hover { color:#ff8800;}
.foot_sys {
	width:100%;
	min-width:1200px;
	background:#9a9a9a;
	padding:25px 0;}
.foot_sys .sys {
	float:left;
	padding:0 0 0 95px;
	width:180px;}
.foot_sys .sys img {
	width:83px;
	height:83px;
	position:absolute;
	left:0;
	top:0;}
.foot_sys p { color:#fff;}
.bot_search {
	float:right;
	background:url(../images/bot_ico07.png) no-repeat left center;
	padding:0 0 0 80px;
	width:280px;}
.bot_search div {
	margin-top:5px;
	width:140px;
	border-radius:15px;
	height:30px;
	overflow:hidden;
	padding-left:35px;
	background:#40a8f7;}
.bot_search .sub {
	background:url(../images/bot_search.png) no-repeat center center;
	display:block;
	width:30px;
	height:30px;
	position:absolute;
	left:0;
	top:0;}
.bot_search .text {
	color:#fff;
	line-height:30px;}
.mainfoot {
	width:100%;
	min-width:1200px;
	background:#747474;
	padding:10px 0;}
.mainfoot nav {
	height:30px;
	color:#ccc;
	padding:10px 0 0 45px;}
.mainfoot nav a {
	color:#fff;
	font-size:14px;
	margin:0 7px;}
.mainfoot nav a.a1 {
	position: absolute;
	left:0;
	top:0;}
.mainfoot nav a:hover { color:#ff8800;}
.mainfoot p span { position:absolute; right:0; top:0;}
.mainfoot p a { color:#999;}
.index_floor {
	display:none;
	z-index:80;
	position:fixed;
	_position:absolute;
	left:5px;
	top:30%;}
.index_floor a {
	display:block;
	font-size:12px;
	width:50px;
	text-align: center;
	line-height:25px;
	height:26px;
	overflow:hidden;}
.index_floor a span {
	display:block;
	width:100%;
	color:#999;
	border-bottom:1px solid #ddd;
	top:0;
	}
.index_floor a:hover span {top:-26px; background:#e83928; color:#fff;}
.index_floor a.sel span {top:-26px; background:#e83928; color:#fff;}

.floatbox { z-index:89;position:fixed;width:42px;top:30%;right:5px;_display:none;}

.floatbox a {display:block;width:42px;height:42px;margin-bottom:2px;filter:alpha(Opacity=50);-moz-opacity:0.5;opacity: 0.5;}

.floatbox span {position:absolute;right:45px;top:0;display:none;}

.floatbox a:hover {filter:alpha(Opacity=100);-moz-opacity:1;opacity:1;}

.floatbox a:hover span {display:block;}
.pagebox {
	width:100%;
	border-top:1px solid #ddd;
	padding:20px 0;
	line-height:35px;}
.pagebox .num {
	float:left;
	text-align:right;
	width:82%;}
.pagebox .num a {
	display:inline-block;
	border:1px solid #ddd;
	padding:0 15px;
	background:#f3f3f3;
	margin:0 2px;}
.pagebox .num a:hover {
	background:#2b3243;
	color:#fff;}
.pagebox .num a.sel {
	color:#666;
	border:1px solid #fff;
	background:none;}
.pagebox .num .a0 { opacity:0.5;}
.pagebox .num .a1 span {
	display:inline-block;
	}
.pagebox .num .a2 span {
	display:inline-block;
	}
.pagebox .page {
	float:right;
	text-align:left;
	width:17%;}
.pagebox .page input,.pagebox .page span { float:right; 
margin:0 2px;}
.pagebox .sub {
	width:50px;
	border:1px solid #ddd;
	height:35px;
	background:#f7f7f7;
	cursor:pointer;}
.pagebox .sub:hover { background:#2b3243;color:#fff;}
.pagebox .text {
	width:40px;
	text-align:center;
	border:1px solid #ddd;
	height:33px;
	line-height:33px;
	background:none;}
.page-orange {
	display:block;
	width:95%;
	padding-right:5%;
	text-align:right;}
.page-orange a {
	display:inline-block;
	width:30px;
	height:30px;
	text-align:center;
	border-radius:20%;
	overflow:hidden;
	border:1px solid #e8323d;
	color:#e8323d;
	line-height:30px;
	font-size:16px;
	margin-right:5px;}
.page-orange a:hover,.page-orange a.sel {
	background:#e8323d; color:#fff;}
.member_top {
	width:100%;
	min-width:1200px;
	background:#222222;
	padding:10px 0 0;
	height:68px;}
.member_top a.logo1 {
	position:absolute;
	left:0;
	top:0px;}
.member_top nav {
	margin-left:280px;
	padding-top:20px;
	}
.member_top nav a {
	height:48px;
	display:inline-block;
	margin-right:50px;
	font-size:18px;
	color:#fff;}
.member_top nav a:hover,.member_top nav a.sel {
	background: url(../images/mymember/arrow09.png) no-repeat center bottom;}
.member_top .search {
	position:absolute;
	right:0;
	top:12px;
	height:35px;
	width:220px;
	background:#fff;
	padding-right:70px;}
.member_top .search .text {
	width:100%;
	height:35px;
	text-indent:1em;
	line-height:35px;}
.member_top .search .sub {
	width:70px;
	background:#ccc;
	color:#fff;
	position:absolute;
	right:0;
	top:0;
	height:35px;
	_height:37px;
	line-height:35px;}
.member_top .search .sub:hover { background:#e83928;}
.darkpage {
	display:block;
	width:80%;
	padding-right:20%;
	text-align:right;
	line-height:30px;}
.darkpage a,.darkpage .sp1 {
	display:inline-block;
	height:30px;
	padding:0 10px;
	text-align:center;
	overflow:hidden;
	border:1px solid #2b3243;
	color:#2b3243;
	line-height:30px;
	font-size:14px;
	margin-right:5px;}
.darkpage a:hover,.darkpage a.sel {
	background:none; color:#2b3243; border:1px solid #fff;}
.darkpage div {
	color:#2b3243;
	position:absolute;
	right:0;
	top:2px;}
.darkpage .text { height:30px; line-height:30px; width:50px;border:1px solid #2b3243; float:left; text-align:center;}
.darkpage .sp1 { border:none;}
.darkpage .sub { height:32px; width:50px;float:left; text-align:center; background:#2b3243; color:#fff; cursor:pointer;}

.floatboxlist {
	display:none;
	position:absolute;
	right:43px;
	top:34px;
	width:100px;
	padding:10px;
	}
.floatboxlist a {
	width:100%;
	opacity:1;
	line-height:30px;
	border:1px solid #ddd;
	background:#fff;
	height:30px;
	text-align:center;}







