.top{height:30px; font-size:14px; line-height:30px; background:#eeeeee;}
.huanyin{float:left; margin-left:20px;}
.wdbgg{ float:right; font-size:14px;}
.wdbgg a{ margin-left:25px; color:#222222;}
.wdbgg a:hover{color:#e8323d;}
.top2{height:100px; position:relative; z-index:99;}
.logo{width:200px; height:100px; float:left;}
.ssbox{ float: left;margin-top:28px;margin-left:55px;}
.ss_txt{width:532px;height:42px;border: 2px solid #222222;float:left;padding-left:10px;font-size:14px;line-height: 38px; display:block;}
.ss_btn{width:97px;height:46px;float:left;font-size: 16px;text-align: center;line-height: 42px;color: #fff; cursor: pointer;background:url(../images/sousuo_03.png) no-repeat ; display:block; border:none;}
.ss_btn:hover{width:97px;height:46px;float:left;font-size: 16px;text-align: center;line-height: 42px;color: #fff; cursor: pointer;background:url(../images/sousuohover_03.png) ; display:block; border:none;}
.tpgg{float:left; width:70px; height:38px; float:left; margin-top:33px;}

.nygg{width:202px; float:left; height:175px; border:solid 1px #eeeeee;}
.nygg ul{line-height:33px;}
.nygg li{height:33px; overflow:hidden;}
.bt{padding-left:20px; font-size:14px; font-weight:bold;} 

.nyltbt{ background:#f7f7f7; height:35px; line-height:35px; border-top:#FFF solid 1px;}
.nyltbt h4{margin-left:20px;}
.xcjly li{line-height:30px; margin-left:20px; width:202px;}

.nylt img{margin-right:20px;}

.num1 { width: 18px; height: 21px; background:url(../images/hzd_23.png) no-repeat; position: absolute; left: 0; top: 0; color: #fff; text-align: left; padding-left: 3px; line-height: 14px; font-family: Arial, Helvetica, sans-serif; font-size: 10px; -webkit-text-size-adjust: none; font-weight: bold; }
.num2 { width: 18px; height: 21px; background:url(../images/hzd_26.png) no-repeat; position: absolute; left: 0; top: 0; color: #fff; text-align: left; padding-left: 3px; line-height: 14px; font-family: Arial, Helvetica, sans-serif; font-size: 10px; -webkit-text-size-adjust: none; font-weight: bold; }
.pl{width:17px; height:13px; float:left;}

.jiage{ width:130px; float:left;}
.yuanjia{width:77px; line-height:35px; float:right;}
.yh{height:20px; border-left:1px solid #FFF;}
.yh p{font-size:12px; line-height:20px;padding-left:10px; padding-right:10px; color:#FFF; background:#ff3535;} 
.yh p a{color:#FFF;}
.yh p a:hover{color:#FFF;}

.jgqj_txt { width: 48px; height: 20px; border: 1px solid #ccc; background: #fff; margin-top: 9px; text-align: center;}
.sxtj span { float: left; display: inline; margin: 0 5px; }
.jgqj_btn { width: 50px; height: 22px; line-height: 22px; text-align: center; cursor: pointer; background: #2b3243; color: #fff; text-align: center; margin-top: 9px; margin-left: 10px; border:none; }
.jgqj_btn:hover{ background:#ff3535;}
.sxtjBox { overflow: hidden; padding-left: 15px; float:left;}
.sxtjBox span{ font-family:"微软雅黑", "宋体"; font-size:12px; color:#444444; margin-right:10px; line-height:39px;}

.down{height:113px;}
.down2{height:auto; background:#2b3243; text-align:center; color:#FFF; line-height:37px;}
.youqin{margin-left:25px;}
.down2 li{width:133px; float:left;}
.down2 a{color:#FFF;}
.down2 a:hover{color:#ff3535;}

.sousuohuise a{color:#ccc;}

.top{height:30px; font-size:14px; line-height:30px; background:#eeeeee;}
.huanyin{float:left; margin-left:20px;}
.wdbgg{ float:right; font-size:14px;}
.wdbgg a{ margin-left:25px; color:#222222;}
.wdbgg a:hover{color:#e8323d;}
.top2{height:100px; position:relative; z-index:99;}
.logo{width:200px; height:100px; float:left;}
.ssbox{ float: left;margin-top:28px;margin-left:55px;}
.ss_txt{width:532px;height:42px;border: 2px solid #222222;float:left;padding-left:10px;font-size:14px;line-height: 38px; display:block;}
.ss_btn{width:97px;height:46px;float:left;font-size: 16px;text-align: center;line-height: 42px;color: #fff; cursor: pointer;background:url(../images/sousuo_03.png) no-repeat ; display:block; border:none;}
.ss_btn:hover{width:97px;height:46px;float:left;font-size: 16px;text-align: center;line-height: 42px;color: #fff; cursor: pointer;background:url(../images/sousuohover_03.png) ; display:block; border:none;}
.tpgg{float:left; width:70px; height:38px; float:left; margin-top:33px;}

.nygg{width:202px; float:left; height:175px; border:solid 1px #eeeeee;}
.nygg ul{line-height:33px;}
.nygg li{height:33px; overflow:hidden;}
.bt{padding-left:20px; font-size:14px; font-weight:bold;} 

.nyltbt{ background:#f7f7f7; height:35px; line-height:35px; border-top:#FFF solid 1px;}
.nyltbt h4{margin-left:20px;}
.xcjly li{line-height:30px; margin-left:20px; width:202px;}

.nylt img{margin-right:20px;}

.num1 { width: 18px; height: 21px; background:url(../images/hzd_23.png) no-repeat; position: absolute; left: 0; top: 0; color: #fff; text-align: left; padding-left: 3px; line-height: 14px; font-family: Arial, Helvetica, sans-serif; font-size: 10px; -webkit-text-size-adjust: none; font-weight: bold; }
.num2 { width: 18px; height: 21px; background:url(../images/hzd_26.png) no-repeat; position: absolute; left: 0; top: 0; color: #fff; text-align: left; padding-left: 3px; line-height: 14px; font-family: Arial, Helvetica, sans-serif; font-size: 10px; -webkit-text-size-adjust: none; font-weight: bold; }
.pl{width:17px; height:13px; float:left;}

.jiage{ width:130px; float:left;}
.yuanjia{width:77px; line-height:35px; float:right;}
.yh{height:20px; border-left:1px solid #FFF;}
.yh p{font-size:12px; line-height:20px;padding-left:10px; padding-right:10px; color:#FFF; background:#ff3535;} 
.yh p a{color:#FFF;}
.yh p a:hover{color:#FFF;}

.jgqj_txt { width: 48px; height: 20px; border: 1px solid #ccc; background: #fff; margin-top: 9px; text-align: center;}
.sxtj span { float: left; display: inline; margin: 0 5px; }
.jgqj_btn { width: 50px; height: 22px; line-height: 22px; text-align: center; cursor: pointer; background: #2b3243; color: #fff; text-align: center; margin-top: 9px; margin-left: 10px; border:none; }
.jgqj_btn:hover{ background:#ff3535;}
.sxtjBox { overflow: hidden; padding-left: 15px; float:left;}
.sxtjBox span{ font-family:"氓戮庐猫陆炉茅鈥衡�茅禄鈥�, "氓庐鈥姑ぢ解�"; font-size:12px; color:#444444; margin-right:10px; line-height:39px;}

.down{height:113px;}
.down2{height:auto; background:#2b3243; text-align:center; color:#FFF; line-height:37px;}
.youqin{margin-left:25px;}
.down2 li{width:133px; float:left;}
.down2 a{color:#FFF;}
.down2 a:hover{color:#ff3535;}


.mianfeilingqu{border-bottom:2px dashed #333; width:1200px; height:350px; margin-top:15px;}
.mianfeilingqu_left img{ position:absolute; z-index:1;width:874px; height:350px; float:left;}

.mendian{ margin-top:10px; width:208px; height:46px; margin-left:630px; position:absolute; z-index:9999;}
.mendian p{float:right;}
.linquanniu{ background:#ff4454;position:absolute; z-index:9999; height:40px; width:150px; font-size:16px;margin-top:265px; margin-left:700px; line-height:40px; text-align:center; border-radius:13px;}
.linquanniu a{color:#FFF;}
.linquanniu a:hover{color:#1c2b38;}
.zongshushengyu{ margin-left:710px; margin-top:227px;position:absolute; z-index:9999;}
.mianfeilingqu_right{width:300px; height:340px; float:right; overflow:hidden;}
.mianfeilingqu_right li{line-height:30px;}

.mianfeilingqutanchu{background:url(../images/images/darkbg.png) repeat; width:100%; height:100%; z-index:999999999; position:absolute;overflow: hidden;}  
.mianfeilingqutanchu2{background:url(../images/images/darkbg.png) repeat; width:950px; height:460px; z-index:999999999; position:absolute;overflow: hidden;}  

.mianfeilingqutanchu_dl{ margin-top:3%;}
.mianfeilingqutanchu_dl2{ margin-top:6px;margin-left:4px;}

.yiyuqiangpailiebiao{width:1199px; height:383px; background:url(../images/images/yiyuanqiangpai_03.png) no-repeat; float:left; margin-top:20px;}
.yiyuqiangpailiebiao_lt{width:624px; height:332px; float:left; margin-left:51px; margin-top:32px;}
.yiyuanjieshu{ background:url(../images/images/yiyuanjieshu_03.png) no-repeat; display:block; position:absolute; height:162px; width:162px; z-index:99999;}
.yiyuanjijiang{background:url(../images/images/yiyuanjijiang_03.png) no-repeat; display:block; position:absolute; height:162px; width:162px; z-index:99999;}

.yiyuqiangpailiebiao_rt{width:506px; height:383px; float:right;}
.yiyuqiangpailiebiao_rt_bt{float:left; margin-left:54px; width:400px; height:60px; margin-top:25px}
.yiyuqiangpailiebiao_rt_bt h4{font-size:18px; color:#999; height:30px; line-height:30px; overflow:hidden; }
.yiyuqiangpailiebiao_rt_bt span{font-size:14px; color:#999; height:30px; line-height:30px; overflow:hidden; }
.yiyuqiangpailiebiao_rt_jg{margin-top:102px;color:#FFF; margin-left:56px; font-size:18px; width:250px; height:40px; float:left;}
.yiyuqiangpailiebiao_rt_jg span{font-size:30px;  }
.yiyuqiangpailiebiao_rt_anniu{ width:121px; height:46px; float:right; text-align:center; font-size:20px; margin-top:90px; line-height:46px; font-weight:bold; margin-right:54px; color:#FFF;}
.yiyuqiangpailiebiao_rt_anniu a{color:#FFF;}
.yiyuqiangpailiebiao_rt_anniu a:hover{color:#1c2b38;}
.yiyuqiangpailiebiao_rt_lanse p{width:76px; height:30px; float:left; text-align:center; margin-left:44px;}
.yiyuqiangpailiebiao_rt_time{margin-left:123px; margin-top:44px;}
.yiyuqiangpailiebiao_rt_time span{width:39px; height:31px; text-align:center; line-height:31px; color:#FFF; margin-left:50px;}

.dituliebiao_lt{width:457px; height:650px; overflow:hidden; float:left;}
.mendiantupian{width:137px; height:104px; float:left;}
.mendianditu_rt{width:300px; height:104px; float:right; margin-left:20px; font-size:14px; line-height:21px;}
.mendianditu_rt p{width:300px; overflow:hidden;}
.dituxinxin{width:100px !important; float:left;}
.dianouweizhi{width:100px !important; float:right !important;}
.dituliebiao_rt{width:743px; margin-top:20px; height:650px;}
.dituliebiao_lt{ margin-top:20px;}
.dituliebiao_lt li{margin-top:20px;margin-top: 20px;
width: 457px;
height: 104px;}



.yiyuanxiangqingshishi {
    width:320px;
    height:40px;
    }
.yiyuanxiangqingshishi dl {
    display:block;
    width:100%;
    margin-top:13px;
    height:8px;
    background:#ddddde;}
.yiyuanxiangqingshishi dt {
    width:50%;
    height:8px;
    background:#ff4454;}
    
.left_gundong{ position:absolute; z-index:9999;margin-top:150px; width:30px; height:50px; margin-left:20px;}
.right_gundong{ position:absolute; z-index:99999; margin-top:150px;width:30px; height:50px; margin-left:510px;}
.leftb_gundong{ position:absolute; z-index:9999;margin-top:150px; width:30px; height:50px; margin-left:20px;}
.rightb_gundong{ position:absolute; z-index:99999; margin-top:00px;width:30px; height:50px; margin-left:1130px;}
.rightb_gundong2{ position:absolute; z-index:99999; margin-top:00px;width:30px; height:50px; margin-left:880px;}
.lefta_gundong{ position:absolute; z-index:9999;margin-top:190px; width:30px; height:50px; margin-left:20px;}
.righta_gundong{ position:absolute; z-index:99999; margin-top:190px;width:30px; height:50px; margin-left:280px;}

.tousuyemian{line-height: 30px;
  color: #333;
  background: #FFF;
  padding: 20px 20px 20px 20px;  
  position: fixed;
  overflow: hidden;
  width: 1150px;}
.tousuyemian2{line-height: 30px;
  color: #333;
  background: #FFF;
  padding: 20px 20px 20px 20px;  
  position: absolute;
  overflow: hidden;
  width: 900px;}
.tousuyemian p{ font-size:14px; line-height:20px; height:45px;}
.tousulianxifangshi span{width:65px;  text-align:right;}
textarea.input { width: 98%; height:50px; color:#666;}
.Message_an {border-radius:5px; -moz-border-radius:5px; -moz-webkit-radius:5px; -o-border-radius:5px; width:100px; height:35px; line-height:35px; color:#fff; font-size:14px;  background-position: 0px 0px; border:0px; cursor:pointer; background:#ff4454; }
.Message_an:hover,.hov:hover{
    -moz-box-shadow:0px 0px 4px #333112; -webkit-box-shadow:0px 0px 4px #333112; box-shadow:0px 0px 4px #333112; background:#1c2b38;}
}
.bgff{background:#FFF;}